@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,500&display=swap');

* {
    font-family: 'Montserrat', 'sans-serif';
}

body {
    background-color: #ffffff;
}

canvas {
    background-color: #dedede;
    border: solid #ccc 2px;
    border-radius: 5px;
    float: left;
}

.control-panel {
    text-align: center;
    float: left;
    margin: 0px 0px 0px 20px;
}

.playerValues {
    border-radius: 5px;
    background-color: #dedede;
    border: solid #ccc 2px;
    padding: 10px;

    width: 130px;
    font-size: 17px;
}

#reload {
    width: 60px;
    padding: 15px;
    border-radius: 15px;
    margin-top: 20px;

    /*background-color: #bfbfbf;*/

    cursor: pointer;
    transition: 0.3s ease 0s;
}

#reload:hover {
    background-color: #c2bcbc;
}

.reloadImg {
    text-align: center;
}

.startBtn img {
    background-color: #5ff05d;

    border-radius: 15px;
    margin-top: 50px;

    padding: 15px;
    width: 60px;

    cursor: pointer;
    transition: 0.3s ease 0s;
}

.startBtn img:hover {
    background-color: #26ad24;
}

.arrowButtons {
    text-align: center;
}

.arrowButtons img {
    padding: 10px;
    width: 60px;
}

#up {
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;

    cursor: pointer;
    transition: 0.3s ease 0s;
}

#up:hover {
    background-color: #dedede;
    border-radius: 15px;
}

#left {
    margin-right: 60px;

    cursor: pointer;
    transition: 0.3s ease 0s;
}

#left:hover {
    background-color: #dedede;
    border-radius: 15px;
}

#right {
    cursor: pointer;
    transition: 0.3s ease 0s;
}

#right:hover {
    background-color: #dedede;
    border-radius: 15px;
}

#down {
    cursor: pointer;
    transition: 0.3s ease 0s;
}

#down:hover {
    background-color: #dedede;
    border-radius: 15px;
}
