@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,500&display=swap');

* {
    font-family: 'Montserrat', 'sans-serif';
}

body {
    background-color: #ffffff;
}

canvas {
    background-image: url("Pictures/background.svg");

    border: solid #ccc 2px;
    border-radius: 5px;
    float: left;
}

.control-panel {
    text-align: center;
    float: left;
    margin: 0px 0px 0px 20px;
}

.playerValues {
    background-image: url("Pictures/menu-background.png");
    color: #ffffff;

    border-radius: 5px;
    padding: 10px;

    width: 130px;
    font-size: 17px;
}

#reload {
    width: 100px;
    border-radius: 15px;

    cursor: pointer;
    transition: 0.3s ease 0s;
}

#reload:hover {
    background-color: #adaba7;
}

.reloadImg {
    text-align: center;
}

.startBtn img {
    /* background-color: #5ff05d; */

    border-radius: 15px;
    margin-top: 50px;

    padding: 20px;
    width: 60px;

    cursor: pointer;
    transition: 0.3s ease 0s;
}

.startBtn img:hover {
    /* background-color: #26ad24; */
    background-color: #dedede;
}